[submodule "esp-idf"]
	path = firmware/esp_src/components/esp-idf
	url = /CH/development/sdk/esp-idf
[submodule "arduino-esp32"]
	path = firmware/esp_src/components/arduino-esp32
	url = /CH/development/sdk/arduino-esp32
[submodule "HID_Joystick"]
	path = firmware/esp_src/components/HID_Joystick
	url = /CH/development/libraries/HID_Joystick
[submodule "firmware/esp_src/components/Arduino-PID-Library"]
	path = firmware/esp_src/components/Arduino-PID-Library
	url = /CH/development/libraries/Arduino-PID-Library/
[submodule "firmware/esp_src/components/PIDwVelProfile"]
	path = firmware/esp_src/components/PIDwVelProfile
	url = /CH/development/libraries/PIDwVelProfile/
[submodule "firmware/esp_src/components/Roboclaw_Arduino"]
	path = firmware/esp_src/components/Roboclaw_Arduino
	url = /CH/development/libraries/Roboclaw_Arduino/
[submodule "firmware/esp_src/components/AMT20_QuadAbs_Encoder"]
	path = firmware/esp_src/components/AMT20_QuadAbs_Encoder
	url = /CH/development/libraries/AMT20_QuadAbs_Encoder/
